html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-style: Roboto sans-serif;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@font-face {
  font-family: Rosalinda Regular; /* Гарнитура шрифта */
  src: url(/fonts/11391.ttf); /* Путь к файлу со шрифтом */
}

/*////////////////////////// */
/*////////////////////////// */

/* HEADER */

.header {
  width: 100%;

  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #e2d6d6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__body {
  display: flex;
  height: 150px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.header__logo {
  width: 150px;
  height: 150px;
  padding-top: 15px;
}

.header__logo img {
  width: 130px;
  height: 130px;
}

.nav {
  text-transform: uppercase;
  font-family: Rosalinda Regular;
  margin: auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  list-style-type: none;
}

.nav__link {
  display: inline-block;
  padding: 10px;
  margin: 50px 60px 30px 60px;
  vertical-align: top;
  position: relative;
  color: #8d5256;
  text-decoration: none;

  font-family: Rosalinda Regular;

  transition: color 0.1s linear;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: rgb(75, 71, 71);
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}

.nav__link:hover {
  color: black;
}

.nav__link:hover:after {
  opacity: 1;
}

/*////////////////////////// */
/*////////////////////////// */

/* SlAID SHOW */

.section {
  height: 800px;

  margin: 0px;
}

.section_body {
  display: flex;
  width: 100%;

  justify-content: center;
}

/*////////////////////////// */
/*////////////////////////// */

/* Контейнер слайд-шоу */
.slideshow-container {
  height: 100vh;
  position: relative;
  margin: auto;
}

/* Скрыть изображения по умолчанию */
.mySlides img {
  height: 800px;
}

/* Вперед иназад кнопки */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #8d5256;
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Положение "next кнопки" справа */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении курсора добавьте черный цвет фона с немного прозрачным */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Исчезающая анимация */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
